
<div class="header">

  <div class="header__title">
      <div>
        <a class="app-a" routerLinkActive="app-a_active" (click)="onClicked()">
          <span class="material-icons md-36 estiloIcon">menu</span>
        </a>
      </div>
      <div class="app-a" >
        <img src="/assets/images/black_logo.svg" alt="Logo" width="80" height="60">
      </div>
      <span>Shornel store</span>
  </div>

  <div class="header__navigation" fxHide.xs fxHide.sm>
      <a class="app-a" routerLink="/" routerLinkActive="app-a_active">Home</a>
      <a class="app-a" routerLink="shop" routerLinkActive="app-a_active">Tienda</a>
      <a class="app-a" routerLink="contacto" routerLinkActive="app-a_active">Contacto</a>
  </div>

  <div class="header__buttons" fxHide.xs fxHide.sm>
      <a routerLink="shop" class="app-a" routerLinkActive="app-a_active">
        <span class="material-icons md-36 estiloIcon">shopping_cart</span>
      </a>
      <app-button *ngIf="!isAuthorized" routerLink="auth/login">Login</app-button>
      <app-button *ngIf="!isAuthorized" routerLink="auth/registration">Registrar</app-button>

      <span *ngIf="isAuthorized">{{ user ? user.nombres + ' ' + user.apellidos : null}}</span>

      <a class="app-a" *ngIf="isAuthorized" (click)="onSignOut()" routerLinkActive="app-a_active">Salir Sesion</a>

  </div>


</div>
