<div class="app-page">
  <div class="app-page__header">
    <h1>Contacto</h1>
  </div>
  <div class="app-page__content">
      <!-- <div class="navigation">
        <a class="app-a" routerLink="./controles" routerLinkActive="app-a_active">Controles</a>
        <a class="app-a" routerLink="./shared" routerLinkActive="app-a_active">Compartido</a>
        <a class="app-a" routerLink="./guards" routerLinkActive="app-a_active">Guards</a>
      </div> -->
      <p>WhatsApp: 88888888</p>

      <p>Facebook: Shornel Store</p>

      <router-outlet></router-outlet>

  </div>
</div>
